@font-face {
  font-family: gilroyLight;
  src: url(./assets/Gilroy-Light.otf);
}
@font-face {
  font-family: gilBold;
  src: url(./assets/Gilroy-ExtraBold.otf);
}
.buttonDesign {
  background-color: #ec393a;
  color: white;
  border: 0px;
  /* border-radius: 15pxs; */
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.navbar li {
  margin-left: 1.5rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.navbar {
  padding: 0rem 5rem;
  background-color: #fff;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: rgb(231, 230, 230);
  border-radius: 100%;
}
.carousel-indicators {
  position: absolute;
  bottom: -70px;
}
.carousel-indicators .active {
  border: 2px solid #ec393a;
}

.carousel-control-next-icon {
  background-image: url(./assets/nextIcon.png);
}
.carousel-control-prev-icon {
  background-image: url(./assets/prevIcon.png);
}
.carouselSection {
  position: relative;
  font-family: gilroyLight;
  color: white;
}
.carouselContent {
  position: absolute;
  top: 25vh;
  left: 11vw;
}
.carouselContent h1 {
  font-family: gilBold;
  font-size: 6vw;
}
.carouselContent h4 {
  font-size: 3vw;
}
/* description */

.descriptionSection {
  margin: 5rem 0 0;
  background-color: #ec393a;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
  font-style: italic;
}

.descriptionSection h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 2.8rem;
}
.roadmap h1 {
  font-size: 48px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 2rem;
  text-align: center;
}
.roadmap {
  padding: 3rem 5rem;
}
.innerCircle {
  top: 130px;
}
.stats {
  padding: 5rem 0;
}

.stats h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40;
  font-weight: 400;
  margin: 0;
}
/* .stats p {
  font-size: 1.5vw;
} */
.stats img {
  width: 52px;
  height: 52px;
  margin: 10px;
}

.quoteHead {
  width: 600px;
  position: relative;
}
.quoteHead p {
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}
.quoteHead h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}
.quote {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
/* .leftRight {
  position: absolute;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  height: 110%;
  width: 105%;
  left: -10px;
  top: 14%;
}
.topLeft {
  border-top: 2px solid black;
  height: 110%;
  position: absolute;
  top: 14%;
  left: -10px;
  width: 40%;
  height: 110%;
}
.topRight {
  border-top: 2px solid black;
  height: 110%;
  position: absolute;
  top: 14%;
  right: -20px;
  width: 42%;
  height: 110%;
} */
.img1 {
  margin-right: 10px;
}
.contactRight {
  /* width: 50%; */
  text-align: center;
}
.nameEmail {
  width: 100%;
}
.contactRight h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
}
.contactRight input {
  height: 40px;
  margin: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid gray;
}
.nameEmail input {
  width: 40%;
}
.contactNumber {
  width: 100%;
}
.contactNumber input {
  width: 88%;
  padding: 15px;
}
.feedback textarea {
  resize: none;
  height: 100px;
  width: 88%;
  margin: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid gray;
}
.contactRight {
  padding: 2rem;
}

/* .contact {
  padding: 5rem 0;
} */
.contactButton {
  width: 88%;
  font-size: 1.5rem;
}
.footer {
  /* background-color: #3c3c3c; */
  color: black;
  padding: 2rem 2rem 1rem;
}
.footer img {
  margin: 5px;
}
.footer h5,
.footer h4 {
  margin-bottom: 15px;
}
.map {
  /* height:; */
  width: 100%;
  height: 400px;
}
.lastSection {
  position: relative;
}
.contact {
  width: 60%;
  background-color: #fff;
}
.absoluteForm {
  position: absolute;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 32vh;
  left: 15vw;
}
@media (min-width: 1200px) {
  .navbarPagesList {
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contactRight {
    width: 80%;
  }
  .footer {
    padding: 2rem 2rem 1rem;
  }

  .footer h5,
  .footer h4 {
    margin-bottom: 15px;
    font-size: 2vw;
  }
  .footer p {
    font-size: 1.5vw;
  }
  .follow img {
    width: 25px;
    height: 25px;
  }
  .downLogo {
    width: 71px;
    height: 28px;
  }
}
@media (max-width: 768px) {
  .buttonDesign {
    padding: 0.5rem 1rem;
  }
  .navbar {
    padding: 1rem;
  }
  .navbar li {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    margin: 0 3 px;
    background-color: rgb(231, 230, 230);
    border-radius: 100%;
  }

  .descriptionSection {
    padding: 3rem 0;
  }
  .descriptionSection h1 {
    font-size: 5vw;
    text-decoration: underline;
    font-weight: 700;
  }
  .descriptionSection h3 {
    font-size: 4vw;
    font-weight: 400;
    line-height: 5vw;
  }
  .roadmap h1 {
    font-size: 24px;
    text-align: left;
    padding: 1rem;
  }
  .roadmap p {
    font-size: 12px;
  }
  .roadmap {
    padding: 1vw 1vw;
  }

  .innerCircle {
    top: 14vw;
    width: 25%;
  }
  .outerCircle {
    width: 70%;
  }
  .row {
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
  }
  .img1 {
    width: 5%;
  }
  .img2 {
    width: 5%;
    margin: 0 0 10px 10px;
  }
  .quoteHead p {
    font-size: 16px;
  }
  .quoteHead h1 {
    font-size: 24px;
  }
  .quoteHead {
    width: 290px;
  }
  /* .topRight {
    height: 110%;
    top: 10%;
    width: 35%;
    right: -3px;
  }
  .leftRight {
    top: 10%;
  }
  .topLeft {
    top: 10%;
  } */
  .contactRight {
    width: 100%;
  }
  .contactRight input {
    margin: 10px 5px;
  }
  .contact {
    padding: 2rem 0;
  }
  .feedback textarea {
    resize: none;
    height: 200px;
    width: 84.8%;
    margin: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid gray;
  }
  .contactRight {
    padding: 2rem 0;
  }
  .contactRight p {
    font-size: 12px;
  }
  .contactButton {
    font-size: 1rem;
  }
  .contactRight h1 {
    font-size: 24px;
  }
  .footer h5,
  .footer h4 {
    margin-bottom: 10px;
    font-size: 2vw;
  }
  .footer p {
    margin: 5px 0;
  }
  .follow img {
    width: 20px;
    height: 20px;
  }
  .footer img {
    margin: 2px;
  }
  .footer {
    padding: 1rem;
  }

  .footer p {
    font-size: 1.3vw;
  }
  .bottom p {
    font-size: 2.5vw;
  }
  .map {
    height: 100px;
    width: 100px;
  }
}
