@font-face {
  font-family: gilroyLight;
  src: url(./assets/Gilroy-Light.otf);
}
@font-face {
  font-family: gilBold;
  src: url(./assets/Gilroy-ExtraBold.otf);
}
.buttonDesign {
  background-color: #ec393a;
  color: white;
  border: 0px;
  /* border-radius: 15pxs; */
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
.navbar li {
  margin-left: 1.5rem;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.navbar {
  padding: 0rem 5rem;
  background-color: #fff;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: rgb(231, 230, 230);
  border-radius: 100%;
}
.carousel-indicators {
  position: absolute;
  bottom: -70px;
}
.carousel-indicators .active {
  border: 2px solid #ec393a;
}

.carousel-control-next-icon {
  background-image: url(./assets/nextIcon.png);
}
.carousel-control-prev-icon {
  background-image: url(./assets/prevIcon.png);
}
.carouselSection {
  position: relative;
  font-family: gilroyLight;
  color: white;
}
.carouselContent {
  position: absolute;
  top: 25vh;
  left: 11vw;
}
.carouselContent h1 {
  font-family: gilBold;
  font-size: 6vw;
}
.carouselContent h4 {
  font-size: 3vw;
}
/* description */

.descriptionSection {
  margin: 5rem 0 0;
  background-color: #0b1e33;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem 0;
  font-style: italic;
}

.descriptionSection h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 2.8rem;
}
.roadmap h1 {
  font-size: 48px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 2rem;
  text-align: center;
}
.roadmap {
  padding: 3rem 5rem;
}
.horizontal {
  height: 500px;
}
.innerCircle {
  top: 130px;
}
.stats {
  padding: 5rem 0;
  background-color: rgba(156, 154, 154, 0.733);
}

.stats h1 {
  font-size: 48px;
  font-family: "Source Sans Pro", sans-serif;
  width: 120px;
}
/* .stats p {
  font-size: 1.5vw;
} */
.stats img {
  width: 52px;
  height: 52px;
  margin: 10px;
}

.quoteHead {
  width: 600px;
  position: relative;
}
.quoteHead p {
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}
.quoteHead h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}
.quote {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.services {
  background-image: url(./assets/serviceBg.jpeg);
  background-size: cover;
}
.ServiceHead {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin: 2rem;
  text-align: center;
}
.servicesTriangleSection div {
  margin: 2rem 0;
}
.servicesTriangleSection img {
  padding: 0 1rem;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.img1 {
  margin-right: 10px;
}
.contactRight {
  width: 80%;
  /* text-align: center; */
}
.contactForm {
  width: 60%;
}
.info {
  position: absolute;
  background-color: #15355a;
  padding: 2rem 8rem 2rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  top: 18%;
  right: 0%;
}
.info img {
  width: 20px;
  height: 20px;
}
.info h3 {
  font-size: 20px;
  padding: 0 1rem;
}
.info h1 {
  padding: 1rem 0;
}
.nameEmail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contactRight h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
}
.contactRight input {
  display: block;
  height: 40px;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid gray;
}
.nameEmail input {
  width: 48%;
}
.contactNumber {
  width: 100%;
}
.contactNumber input {
  width: 100%;
  padding: 15px;
}
.feedback textarea {
  display: block;
  resize: none;
  height: 100px;
  width: 100%;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid gray;
}
.contactRight {
  padding: 2rem 2rem 2rem 4rem;
}

/* .contact {
  padding: 5rem 0;
} */
.contactButton {
  width: 100%;
  margin: 10px 0px;
  font-size: 1.5rem;
}
.footer {
  /* background-color: #3c3c3c; */
  background-image: url(./assets/footerBg.svg);
  color: black;
  padding: 1rem 2rem;
}
.footer img {
  margin: 2px;
  width: 25px;
}
.footer h5,
.footer h4 {
  margin-bottom: 5px;
  font-size: 15px;
}
.footer p {
  margin-bottom: 2px;
  font-size: 10px;
}
.map {
  /* height:; */
  width: 100%;
  /* height: 100%; */
}
.lastSection {
  position: relative;
}
.contactMap .col-4,
.contactMap .col-8 {
  padding: 0;
}
.contact {
  /* width: 60%; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin: 0 2rem;
}
.absoluteForm {
  /* position: absolute; */
  /* width: 70%; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* top: 32vh;
  left: 15vw; */
}

.carouselForm input {
  margin: 0 1rem;
  height: 45px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 15px;
}
.carouselForm button {
  margin: 0 1rem;
}

.carouselForm {
  margin: 4rem 2rem 0;
  display: flex;
  justify-content: center;
}
.slick-next:before,
.slick-prev:before {
  color: gray;
  opacity: 1;
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}
.slider {
  padding: 0 1rem;
  width: 70%;
  text-align: center;
}
.logosSlider {
  margin: 3rem 0;
}
.slick-dots li {
  display: none;
  width: 98%;
}
@media (min-width: 1200px) {
  .navbarPagesList {
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contactRight {
    width: 80%;
  }
  .footer {
    padding: 2rem 2rem 1rem;
  }

  .footer h5,
  .footer h4 {
    margin-bottom: 15px;
    font-size: 2vw;
  }
  .footer p {
    font-size: 1.5vw;
  }
  .follow img {
    width: 25px;
    height: 25px;
  }
  .downLogo {
    width: 71px;
    height: 28px;
  }
}
@media (max-width: 768px) {
  .buttonDesign {
    padding: 0.5rem 1rem;
  }
  .navbar {
    padding: 1rem;
  }
  .navbar li {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    margin: 0 3 px;
    background-color: rgb(231, 230, 230);
    border-radius: 100%;
  }

  .descriptionSection {
    padding: 3rem 0;
  }
  .descriptionSection h1 {
    font-size: 5vw;
    text-decoration: underline;
    font-weight: 700;
  }
  .descriptionSection h3 {
    font-size: 4vw;
    font-weight: 400;
    line-height: 5vw;
  }
  .roadmap h1 {
    font-size: 24px;
    text-align: left;
    padding: 1rem;
  }
  .roadmap p {
    font-size: 12px;
  }
  .roadmap {
    padding: 1vw 1vw;
  }

  .row {
    flex-direction: column;
  }
  .col-6 {
    width: 100%;
  }
  .img1 {
    width: 5%;
  }
  .img2 {
    width: 5%;
    margin: 0 0 10px 10px;
  }
  .quoteHead p {
    font-size: 16px;
  }
  .quoteHead h1 {
    font-size: 24px;
  }
  .quoteHead {
    width: 290px;
  }
  .contactButton {
    font-size: 1rem;
  }
  .contactRight p {
    font-size: 12px;
  }

  .contactRight h1 {
    font-size: 24px;
  }
  .footer h5,
  .footer h4 {
    margin-bottom: 10px;
    font-size: 2vw;
  }
  .footer p {
    margin: 5px 0;
  }
  .follow img {
    width: 20px;
    height: 20px;
  }
  .footer img {
    margin: 2px;
  }
  .footer {
    padding: 1rem;
  }

  .footer p {
    font-size: 1.3vw;
  }
  .bottom p {
    font-size: 2.5vw;
  }
  .map {
    height: 100px;
    width: 100px;
  }
}
